.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(60, 202, 202);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}
.mainDiv{
    width: 700px;
    height: 500px;
    background-color: rgb(224, 248, 248);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1{
    font-size: 70px;
}
.someInput{
    width: 400px;
    height: 70px;

}
.confirmButton{
    width: 200px;
    height: 100px;
    border-radius: 10px;
}